<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>say malumot olish uchun</title>
</head>
<body>
{% extends 'home.html'%}

{% block content %}
<h1>sayt xaqida malumotlarga xush kelibsiz</h1>
<ul>


    <li>frebue</li>
    <li>vnfvrthbv</li>
    <li>vfrvbehruo</li>
    <li>nvurbe</li>
    <li>bvrhbu</li>
    <li>b3tgb3</li>
    <li>saytga xush kelibsiz !!!!!!!!!!!!!!!!</li>
    <li>saytga xush kelibsiz !!!!!!!!!!!!!!!!</li>
    <li>saytga xush kelibsiz !!!!!!!!!!!!!!!!</li>
    <li>saytga xush kelibsiz !!!!!!!!!!!!!!!!</li>
    <li>saytga xush kelibsiz !!!!!!!!!!!!!!!!</li>
    <li>saytga xush kelibsiz !!!!!!!!!!!!!!!!</li>
    <li>saytga xush kelibsiz !!!!!!!!!!!!!!!!</li>
    <li>saytga xush kelibsiz !!!!!!!!!!!!!!!!</li>
    <li>saytga xush kelibsiz !!!!!!!!!!!!!!!!</li>
    <li>saytga xush kelibsiz !!!!!!!!!!!!!!!!</li>
    <li>saytga xush kelibsiz !!!!!!!!!!!!!!!!</li>

    {% endblock content%}

</ul>

</body>
</html>